# Binaries
**/bin/
bin-int/
*.exe

# Vendor libs
vendor/

# Conan build dir
build/

# Protobuf
*.pb.*

# Nyetflix logs
logs/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user