# Binaries
**/bin/
bin-int/
*.exe

# Vendor libs
vendor/

### Conan ###
# Conan build dir
build/
# Conan build information
conan.lock
conanbuildinfo.*
conaninfo.txt
graph_info.json

# Protobuf
*.pb.*

# Nyetflix logs
logs/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.user